@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap');

body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

header{
    width: 100%;
    height: auto;
    text-align: center;
}

header img{
    width: 15%;
}

hr{
    color:chocolate;
}

nav{
    border: 1px solid transparent;
    border-top: 1px solid rgb(149, 51, 51);
    margin-top: 20px;
    text-align: center;
    color: rgb(13, 125, 88);
    background-color: bisque;
    height: auto;
}

nav p{
    padding: 0px 20px;
}

main{
    margin: 0 auto;
    width: 50%;
}

main h1{
    text-align: center;
}

main img{
    width: 100%;
    height: auto;
}

main div{
    padding: 0;
}


main #p2{
    color: brown;
    border-left: 2px solid chocolate;
    padding-left: 3%;
}

main a{
    color:rgb(13, 73, 73);
}

h2{
    padding-bottom: 20px;
    border-bottom: 1px solid lightblue;
}

